<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/head' %>
</head>

<body>
<main class="flex flex-col bg-gray-800 h-screen">
  <%= render :partial => "shared/navigation" %>
  <% if notice %>
    <div class="bg-gray-800 text-center py-4 lg:px-4">
      <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <%= notice %>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="bg-gray-800 text-center py-4 lg:px-4">
      <div class="p-2 bg-red-800 items-center text-red-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <%= alert %>
      </div>
    </div>
  <% end %>
  <%= yield %>
</main>
</body>
</html>
